<h1>Welcome Online Library App</h1>
<p>You can browse Books created by Different Authers and provides reviews!</p>
<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>