<h1>About</h1>
<p>This is a small sample app created for the purpose of demonstrating Rails 3 in conjunction with MongoDB using the mongoid gem.</p>
<p>The author's name is Ben Atkins.  You can find his website <a href="http://www.batkins.net/">here</a>.</p>