<h1>Help</h1>
<p>
  Get help on Ruby on Rails by checking out of these resources:
  <ul>
  	<li><%= link_to "The official Ruby on Rails site", 'http://rubyonrails.org/' %></li>
  	<li><a href="http://railstutorial.org/book">Rails Tutorial book</a></li>
  	<li><%= link_to "Rails Tutorial help page", 'http://railstutorial.org/help '%></li>
  </ul>
</p>